@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
    margin: 0;
    user-select: none;
}

.clock-htm {
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#RunOrStop {
    position: absolute;
    width: fit-content;
    height: fit-content;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 70vh;
    left: 0;
    color: red;
    border-bottom: 3px white solid;
    font-size: 3vw;
    transition: 0.2s linear;
    font-family: "DotGothic16", suns-serif;
}

#clock-in {
    position: absolute;
    width: fit-content;
    height: fit-content;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: solid 0px;
    color: white;
    font-size: 15vw;
    font-family: "DotGothic16", suns-serif;
}
#startButton {/*button*/
    position: absolute;
    width: 12vw;
    height: 12vw;
    margin: auto;
    top: 60vh;
    right: 30vw;
    bottom:  0;
    left: 0;
    border-radius: 50%;
    border: solid 0px;
    font-size: 2.5vw;
    line-height: 3vw;
    background-color: rgb(10, 151, 57);
    color: rgb(255, 255, 255);
    text-shadow: 5px 3px 4px rgb(0, 70, 0);
    font-family: "DotGothic16", suns-serif;
}
#startButton:hover{
    box-shadow: 2px 0 10px rgb(0, 0, 0) inset;
}

#fullscB{
    position: absolute;
    width: 12vw;
    height: 12vw;
    margin: auto;
    top: 60vh;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    border: solid 0px;
    font-size: 2.5vw;
    background-color: red;
    color: white;
    line-height: 3vw;
    font-family: "DotGothic16", suns-serif;
}

#resetButton {
    position: absolute;
    width: 12vw;
    height: 12vw;
    margin: auto;
    top: 60vh;
    right: 0;
    bottom:  0;
    left: 30vw;
    border-radius: 50%;
    border: solid 0px;
    font-size: 2.5vw;
    background-color: rgb(13, 32, 117);
    color: rgb(235, 237, 240);
    text-shadow: 5px 3px 4px rgb(6, 13, 70);
    font-family: "DotGothic16", suns-serif;
}

#resetButton:hover{
    box-shadow: 2px 0 10px rgb(0, 0, 0) inset;
}

#fullscB:hover{
    box-shadow: 2px 0 10px rgb(0, 0, 0) inset;
}

.centeralig {
    text-align: center;
}

.min1__button {
    position: absolute;
    width: 8vw;
    height: 5.5vh;
    border: 0;
    top: 0;
    right: 80vw;
    bottom: 75vh;
    left: 0;
    margin: auto;
    font-size: 2vw;
}
.min3__button {
    position: absolute;
    width: 8vw;
    height: 5.5vh;
    border: 0;
    top: 0;
    right: 60vw;
    bottom: 75vh;
    left: 0;
    margin: auto;
    font-size: 2vw;
}
.min5__button {
    position: absolute;
    width: 8vw;
    height: 5.5vh;
    border: 0;
    top: 0;
    right: 80vw;
    bottom: 60vh;
    left: 0;
    margin: auto;
    font-size: 2vw;
}
.min10__button {
    position: absolute;
    width: 8vw;
    height: 5.5vh;
    border: 0;
    top: 0;
    right: 60vw;
    bottom: 60vh;
    left: 0;
    margin: auto;
    font-size: 2vw;
}
.min10__button, .min5__button, .min3__button, .min1__button {
    font-family: 'Dancing Script', cursive;
}